#chat-screen {
  background-color: #abc1d1;
  height: 300vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #abc1d1;
}

#chat-screen .alt-header__title {
  margin-left: 50px;
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 15px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 8px;
  display: block;
}

.message__info {
  display: flex;
  font-size: 20px;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 8px 11px;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.message__time {
  opacity: 0.8;
  font-size: 12px;
  margin-left: 5px;
}

.message-row__content {
  font-weight: 500;
}

.message-row--own {
  border-radius: ;
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}
